// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

a
  display inline-block
  text-decoration none
  cursor pointer

a:link,
a:visited
  color: #000000

a:hover,
a:active 
  color #0D47A1

