// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition

a
  text-decoration none
  cursor pointer
  color inherit

a:link,
a:visited
  color inherit

a:hover,
a:active 
  color #0D47A1
  transition: all .3s

.display-1
  font-weight 600

.single-line
  text-overflow:ellipsis
  white-space: nowrap
  overflow:hidden


